// Main Elements (easy normalize)
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
// stylelint-disable no-descending-specificity

// @media all {}

html {
  -webkit-text-size-adjust: none;
  min-height: 100%;
}

body {
  min-height: 100%;
  color: $color_text;
  background: $color_black;
  margin: 0;
  padding: 0;
  quotes: "\00ab" "\00bb";

  // Normal text
  @include text($font-family_sans, $font-size_small, $font-weight_sans_regular);

  overflow-x: hidden; // not scrolling horizontal body
  backface-visibility: hidden;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection {
    background: fade-out($color_second, $fade * 3);
  }
}


// No outline on focus controls!!!
button,
input,
textarea,
a {
  outline: none !important; // stylelint-disable-line declaration-no-important

  &:hover,
  &:active,
  &:focus {
    outline: none !important; // stylelint-disable-line declaration-no-important
  }
}


// All blocks to border-box!!!
main,
article,
aside,
figure,
address
section,
div,
form,
fieldset,
input,
select,
button,
a {
  box-sizing: border-box;
}


// Links
a {
  text-decoration: none;
  @include link-color($color_link, $color_link-hover);
}


// Buttons

button {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  border-radius: $border-radius_large;
  padding: $btn_padding_horizontal_base $btn_padding_vertical_base;
  @include btn-color($color_dark, $color_primary);
  @include text($font-family_sans, $font-size_small, $font-weight_sans_bold);
}


// Controls

input {
  color: $color_text;
  background: darken($color_dark, ($fade-percent * 2.5));
  height: $input_height;
  border: 2px solid $color_primary;
  border-radius: $border-radius_small;
  padding: 0 ($gutter / 2);
  @include text($font-family_sans, $font-size_medium, $font-weight_sans_regular);
}

textarea {
  width: 100%;
  max-width: 100%;
}


// Lists
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  // For classic style
  &.list-style {
    @extend %list-style;
  }
}


// Sections
main,
article,
aside,
figure,
address,
div,
form,
fieldset {
  margin: 0;
  padding: 0;
}


// Others

fieldset,
iframe {
  border-width: 0;
}

// stylelint-enable no-descending-specificity
// stylelint-disable

// WebKit Scrollbar
//////////////////////////////////////////////////////

/* Let's get this party started */
::-webkit-scrollbar {
    width: $gutter / 2;
}

/* Track */
::-webkit-scrollbar-track {
    background: $color_primary;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color_text;
}

// Customize Placeholder
//////////////////////////////////////////////////////

::-webkit-input-placeholder {color: $color_placeholder !important;}
::-moz-placeholder          {color: $color_placeholder !important;} /* Firefox 19+ */
:-moz-placeholder           {color: $color_placeholder !important;} /* Firefox 18- */
:-ms-input-placeholder      {color: $color_placeholder !important;}

:focus::-webkit-input-placeholder {color: transparent;}
:focus::-moz-placeholder          {color: transparent;}
:focus:-moz-placeholder           {color: transparent;}
:focus:-ms-input-placeholder      {color: transparent;}

// stylelint-enable
